venv/
__pycache__/
build/
backup-imxup-parts.zip
backup-ui-folder.zip
context.py
imxup_gui.py.backup
backup/
debug.txt
imxup_gui.py.backup
backup/py.zip
assets/splash.7z
assets/bak.7z
imxup_gui-old.py
Makefile
assets/Thumbs.db
.gitignore
thumbs.db
Thumbs.db
